<footer id="footer">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Quick links</h5>
        <ul class="list-unstyled quick-links">
          <li>
            <a href="index.html"
              ><i class="fa fa-angle-double-right"></i>Home</a
            >
          </li>
          <li>
            <a href="Offers.html"
              ><i class="fa fa-angle-double-right"></i>Offers</a
            >
          </li>
          <li>
            <a href="Blog.html"><i class="fa fa-angle-double-right"></i>Blog</a>
          </li>
          <li>
            <a href="Contact.html"
              ><i class="fa fa-angle-double-right"></i>Contact</a
            >
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Gallery</h5>
        <div class="galleryFooter">
          <img
            src="assets\thingsnight1.jpg"
            class="img img-responsive"
            alt="..."
          />
          <img
            src="assets\thingsnight2.jpg"
            class="img img-responsive"
            alt="..."
          />
          <img
            src="assets\thingsnight3.jpg"
            class="img img-responsive"
            alt="..."
          />
          <img
            src="assets\thingsnight4.jpg"
            class="img img-responsive"
            alt="..."
          />
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Instagram</h5>
        <div class="InstaFooter">
          <img
            src="assets/thingsday1.jpg"
            class="img img-responsive"
            alt="..."
          />
          <img
            src="assets\thingsday2.jpg"
            class="img img-responsive"
            alt="..."
          />
          <img
            src="assets\thingsday3.jpg"
            class="img img-responsive"
            alt="..."
          />
          <img
            src="assets\thingsday5.jpg"
            class="img img-responsive"
            alt="..."
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item">
            <a href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#"><i class="fa fa-instagram"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#"><i class="fa fa-google-plus"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#" target="_blank"><i class="fa fa-envelope"></i></a>
          </li>
        </ul>
      </div>
      <hr />
    </div>
    <div class="row">
      <div
        class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white"
      >
        <p class="text-center">
          Copyright @2020 | Designed With
          <span class="material-icons Love">favorite</span> by
          <a href="#">TriPlanner</a>
        </p>
      </div>
      <hr />
    </div>
  </div>
</footer>
