<div
  class="container-fluid text-center"
  style="background-color: #4e0250; color: azure; height: fit-content"
>
  <p class="forStudents">
    This Website is done by students for learning purpose
  </p>
</div>
<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="index.html"
    ><img class="img img-responsive navbarLogo" src="assets\triplanner.png"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="index.html"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="About.html">About</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="Offers.html">Offers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="Blog.html">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="Contact.html">Contact</a>
      </li>
    </ul>
    <div class="searchbar">
      <input class="search_input" type="text" name="" placeholder="Search..." />
      <a href="City.html" class="search_icon"><i class="fa fa-search"></i></a>
    </div>
  </div>
</nav>
