<ul class="sidenav list-unstyled">
  <li><a href="InboundTravel.html">Inbound Travel</a></li>
  <li><a href="Hotel.html">Hotel</a></li>
  <li><a href="Transportation.html">Transportation</a></li>
  <li><a href="ThingsToDo.html">Things To Do</a></li>
  <li><a href="Restaurants.html">Restaurants</a></li>
</ul>
