body {
  background-color: #fff !important;
  display: grid;
}
.navbar.navbar-dark .navbar-nav .nav-item.active > .nav-link {
  background-color: rgba(255, 255, 255, 0);
}
.blogCard .card img.card-img-top {
  height: 225px;
}
.carousel-item img.d-block.w-100 {
  height: 350px;
}
.ohHide {
  display: none;
}
.fancy-heading {
  font-size: 160px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1em;
  letter-spacing: 5px;
  margin-top: 20px;
}
.view.overlay.z-depth-1-half img.img-fluid {
  height: 245px;
  min-height: 245px;
  block-size: auto;
  max-height: 245px;
}

.animated_heading,
.animated_heading_child {
  margin: 0;
  font-size: 80px;
  color: #fff;
  background-size: auto 200%;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 8s linear infinite;
  background-image: url(https://themegoods-cdn-pzbycso8wng.stackpathdns.com/musico/demo/wp-content/uploads/2018/10/ruvim-noga-711147-unsplash.jpg);
  text-align: center;
}
.animated_heading_child {
  background-image: url(../assets/banner.jpg);
  text-transform: capitalize;
}
.justified {
  text-align: justify;
}
.blogCard {
  margin-bottom: 20px;
}
.btn-primary,
.btn-info {
  background-color: #4e0250 !important;
  border-color: #4e0250 !important;
}
.teal-text {
  color: #4e0250 !important;
}
.Love {
  position: relative;
  top: 6px;
  color: #ea4c46;
}
.navbarLogo {
  height: 40px;
  margin: 0%;
}
.forStudents {
  margin: 0;
}
#footer,
.navbar {
  background-color: #645986;
}
.btn-outline-success {
  color: #d9e8e2;
  border-color: #0f1a15;
}
.galleryFooter,
.InstaFooter {
  display: inline-block;
}
.galleryFooter img,
.InstaFooter img {
  width: 40%;
  height: 15vh;
  display: inline-block;
  margin: 5px;
  border-radius: 15px;
  min-height: 15vh;
}
#footer h5 {
  padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: #ffffff;
}
#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
#footer ul.social li {
  padding: 3px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px;
}
#footer ul.social li a,
#footer ul.quick-links li a {
  color: #ffffff;
}
#footer ul.social li a:hover {
  color: #eeeeee;
}
#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700;
}
#footer ul.quick-links li a i {
  margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
  font-weight: 700;
}
@media (max-width: 1024px) {
  .galleryFooter img,
  .InstaFooter img {
    min-inline-size: -webkit-fill-available;
  }
}
@media (max-width: 767px) {
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}
@import "https://fonts.googleapis.com/css?family=Raleway:300,400";

body {
  font-family: "Raleway:300", sans-serif;
}

.sidenav {
  width: auto;
  height: auto;
  margin-left: 0px;
}
.sidenav a {
  text-decoration: none;
}
.sidenav li {
  text-align: justify;
  padding: 0.5rem;
  padding-left: 1rem;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: #4e0250;
  border: 1px solid #333;
}
.sidenav li a {
  color: #fff;
}

.sidenav li a:active {
  border-color: #02d3f5;
}

.sidenav li:hover {
  border-radius: 0 0.5rem 0.5rem 0;
  border-color: #02d3f5;
  -webkit-transform: translate(30px, 0px);
  transform: translate(30px, 0px);
  background: -webkit-linear-gradient(left, #006a7b, #002340);
  background: linear-gradient(to right, #006a7b, #002340);
}

.sidenav li:active {
  border-color: #02d3f5;
}
#nav-sidebar {
  padding-left: 0;
  background-color: #4e0250;
}
.contentPlaceHolder,
#main-control {
  min-height: 311px;
}
hr {
  margin-bottom: 0;
}
html,
body,
.container-fluid {
  margin: 0;
  padding: 0;
}

.row {
  margin: 0;
}

#videoBanner {
  width: 100%;
  height: 400px;
  object-fit: fill !important;
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
  z-index: 2;
  margin-top: -15px;
}

.video-background-holder {
  max-height: 400px;
}

.video-background-content {
  background: rgba(0, 0, 0, 0.4);
  position: relative;
  top: -406px;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.galleryImgPlaces img {
  width: 80%;
  height: 80px;
  /* border-radius: 50% !important; */
}

.galleryImg,
.galleryImgPlaces {
  padding: 8px;
  display: inline-block;
}

.galleryImg img {
  width: 80%;
  height: 200px;
}

.contact-form {
  width: 80%;
  margin: auto;
}

ul li {
  list-style-type: none;
}

.foote_bottom_ul_amrc li {
  display: inline-block;
  margin: 1% 3%;
}
#footer .container {
  padding: 5% 1%;
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 40px;
  background-color: #4e0250;
  border-radius: 30px;
}

.search_input {
  color: #fff;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  padding: 1px 0;
}
.searchbar:hover {
  padding-left: 10px;
}
.searchbar:hover > .search_input {
  padding: 0 10px;
  width: 80%;
  caret-color: #fff;
  transition: width 0.4s linear;
}
.searchbar a {
  color: #fff;
  text-decoration: none;
}

.searchbar:hover > .search_icon {
  background: #645986;
  color: #fff;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  text-decoration: none;
}
